/* ==UserStyle==
@name           Submitty Redesign
@namespace      github.com/kreydev/styling
@version        1.2.0
@description    Makes Submitty UI suck less
@author         KreyDev
@var select bgGradient "BG Colors" {
    "gay:Rainbow": "#E785, #E78a, #EA8a, #EE8a, #7E8a, #8CEa, #78Ea, #C9Ea, #C9E5",
    "bi:Bisexual": "#D9C5, #D9Ca, #D9Ca, #B8Da, #67Da, #67D5",
    "trans:Transgender": "#7BDa, #D9Ca, #DDFa, #D9Ca, #7BDa",
    "pan:Pansexual": "#E785, #E78a, #DD7a, #67Da, #67D5",
    "lesbian:Lesbian": "#D97a, #FB9a, #DDFa, #DAFa, #B8Da"
}

==/UserStyle== */

@-moz-document domain("cs.rpi.edu") {
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
    
    * {
        font-family: "Fira Sans", sans-serif;
    }
    
    @keyframes rotate {
      to {
        --angle: 360deg;
      }
    }
    
    :is(#courses) {
        margin-left:2rem !important;
    }

    
    :is(.thread_box) {
        margin-bottom: 1rem;
    }
    
    :is(.system-message) {
        z-index: 2;
        margin-top: 2rem;
    }
    
    :not(.pre-forum *):not(.system-message) {
        z-index: 1;
        border-radius: 20px;
        transition-duration: .15s;
    }
    .rainbow {
        background-image: 
            url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.3' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='1000%25' height='1000%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
            linear-gradient( var(--angle), var(--bgGradient) );
/*         filter: blur(500px) saturate(49); */
        animation: 15s rotate ease-in-out infinite;
    }
    #rainbow-mode {
/*         border-radius:100px; */
/*         scale: .98; */
        filter: saturate(4) blur(100px) ;
        z-index: 0;
        overflow: hidden;
    }
    .flex-row.nav-row.selected{
        background: #335;
        border: 2px solid #558;
    }
    .btn {
        background: #89f;
        border-radius: 16px;
        border: 2px solid #78E;
    }
    .btn:hover {
        border: 2px solid #78E;
        background:#67D;
    }
    .content {
        background: none;
        background-color: #33335566;
        filter: drop-shadow(0px 0px 5px #113);
        border-radius: 20px;
        border: 2px solid #558;
        margin-left: 3rem;
    }
    .flex-row.nav-row{
        border-radius: 0px 20px 20px 0px;
        * {
            background:none;
        }
        border-left:none;
        scale: 1.05;
    }
    aside ul {
        font-size: 10pt;
        border: 2px solid #558;
        border-left:none;
        border-radius: 0px 20px 20px 0px !important;
        background-color: #33335566 !important;
        filter: drop-shadow(0px 0px 5px #113);
        padding: .5rem;
        > :hover{
            background-color: #faf7 !important;
        }
    }
    
    #courses,.notification-panel {
        border: 2px solid #558;
        border-radius: 20px !important;
        background-color: #33335566 !important;
        filter: drop-shadow(0px 0px 5px #113);
    }
    
    .flex-row.shadow {
        border:none;
        background:none;
        filter: drop-shadow(0px 0px 5px #113); 
        margin-bottom: -1.45rem;
    }
    .shadow {
        box-shadow:none;
    }
    td {
        border-radius: 0px;
    }
    #duckdiv {
        background-image: url(https://raw.githubusercontent.com/kreydev/styling/refs/heads/main/jss-logo.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }
    #moorthy-duck {
        visibility: hidden;
    }
    .meter {
        background: none;
        position: relative;
        top: -1rem;
        border:2px solid #78E;
        border-top: none;
        border-radius: 0px 0px 20px 20px;
        height: 1rem;
        span {
            border-radius: 0px 0px 18px 18px;
            background: #8f9;
            filter: blur(.1rem);
        }
        
    }
    
    #nav-sidebar-collapse-sidebar {
        display: none;
    }
}
